#nav{
    display:flex;
    justify-content:flex-end;
}

#nav a{
    color: black;
    text-align:center;
    padding:5px 20px 5px 20px;
    font-size: 20px;
    font-family:arial;
}

img{
    max-width: 100%; 
    max-height: 100%; 
}
